[Desktop Entry]
Name=drawio
Exec=/opt/drawio/drawio.AppImage
Terminal=false
Type=Application
Icon=/opt/drawio/drawio.png
StartupWMClass=drawio
Comment=diagrams.net desktop
MimeType=application/vnd.jgraph.mxfile;application/vnd.visio;
Categories=Graphics;